*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.bg-container{
    width:100%;
    /* border:3px red solid; */
    background-color: #f0f2f5;
}

/* spinner styling */
.centered {
    text-align: center;
  }
  
  .spinner.loading {
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  .loading-text {
    width: 90px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 45px);
    text-align: center;
    color:red;
  }
  
  .spinner.loading:before {
    content: "";
    height: 90px;
    width: 90px;
    margin: -15px auto auto -15px;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border-width: 8px;
    border-style: solid;
    border-color: #2180c0 #ccc #ccc;
    border-radius: 100%;
    animation: rotation .7s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.dashboard-heading{
    text-align: center;
    color:red;
    margin:3px;
}
.products-container{
    /* width:100%; */
    background-color: #f0f2f5;
    display:flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap:wrap;

    /* border:3px yellow solid; */
    
}
.api-error-message{
    font-size:30px;
    color:black;
    text-align: center;
    margin:30px;
    
}

.card-container{
    width:22%;
    max-height:55vh;
    background-color: #f7effb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
    border-radius:5px;
    box-shadow:1px 1px 9px black;
    
    /* border:3px green solid; */
}
.card-image-container{
    /* border:3px blue solid; */
    width:100%;
    height:25vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-shrink:1;
    
}

.card-image{
    height:25vh;
    width:50%;
}

.card-details-container{
    width:100%;
    max-height:45vh;
    /* height:30vh; */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f7effb;
    padding:3px;
    flex-shrink:1;
    flex-wrap:wrap;

    /* border:3px black solid; */
}

/* .card-text-details-conatainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border:3px red solid;
    flex-shrink:1;
    
} */

.card-title{
    /* color:red; */
    font-size:20px;
    /* flex-shrink:1; */
    font-weight:bold;
    margin-bottom:10px;
    /* flex-grow:1; */

}

.card-category{
    /* flex-shrink:1; */
    font-family:"Roboto";
    /* flex-grow:1; */
    font-size:10px;
    margin-bottom:10px;
}

.card-description{
    /* flex-shrink:1; */
    font-size:12px;
    margin-bottom:10px;
    /* flex-grow:3;
    flex-shrink: 1; */
}

.card-price{
    font-size: 20px;
    color:red;
    margin-bottom:10px;
    /* flex-shrink:2;
    flex-grow:1; */
}

.card-rating{
    font-size: 12px;
    /* flex-shrink:2;
    flex-grow:1; */
}

@media screen and (max-width:500px){
    *{
        padding:0px;
        margin:0px;
        box-sizing: border-box;
    }
    
    .bg-container{
        width:100%;
        /* border:3px red solid; */
        background-color: #f0f2f5;
    }

    .dashboard-heading{
        text-align: center;
        color:red;
       
    }
    
    .products-container{
        width:100%;
        
        display:flex;
        justify-content: space-around;
        align-items: space-around;
        /* border:3px yellow solid; */
        flex-wrap:wrap;
        
    }
    
    .card-container{
        width:48%;
        height:45vh;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        /* padding-top:10px;
        padding-bottom:10px; */
        margin-bottom:10px;
        
        /* border:3px green solid; */
    }
    .card-image-container{
        /* border:3px blue solid; */
        /* height:40vh; */
        width:100%;
        height:20vh;
        /* height:25vh; */
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        flex-shrink:1;
        
    }
    
    .card-image{
        height:25vh;
        width:20vw;
    }
    
    .card-details-container{
        width:100%;
        height:25vh;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #f7effb;
        padding:3px;
        flex-shrink:1;
        flex-wrap:wrap;
    
        /* border:3px black solid; */
    }
    
    .card-title{
        /* color:red; */
        font-size:10px;
        flex-shrink:1;
        font-weight:bold;
    }
    
    .card-category{
        flex-shrink:1;
        font-family:"Roboto";
        font-size:8px;
    }
    
    .card-description{
        flex-shrink:1;
        font-size:7px;
    }
    
    .card-price{
        font-size: 15px;
        color:red;
        flex-shrink:1;
    }
    
    .card-rating{
        font-size: 10px;
        flex-shrink:1;
    }
}