* {
    box-sizing: border-box;
    /* overflow-x: hidden; */
    padding:0px;
    margin:0px;
}

.bg-container {
    /* height:100vh; */
    width: 100%;
    /* overflow-y: hidden; */
    /* border: 3px solid red; */

}

.mobile-header {
    display: none;
}


.header-container {
    background-color: #ffe01b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.header-navigation-conatainer {
    height: 3vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

    /* border:3px red solid; */


}

.header-navigation-conatainer li {
    list-style: none;
}


.header-logo-container {
    /* border:3px red solid; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.comapny-logo {
    height: 10vh;
    /* border:3px red solid; */

}

.header-login-container {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    /* border:3px red solid; */

}

.login-button {
    height: 5vh;
    width: 20%;
    background-color: #ffe01b;
    /* border: 2px black solid; */
    border:1px black solid;
    color: black;
}

.signup-button {
    height: 5vh;
    width: 20%;
    color: white;
    background-color: #007c89;

}

.signup-text{
    
    color: white;
    text-decoration: none;
}

/* main section */
.main-section {
    background-color: #ffe01b;
    /* height: 50vh; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    /* border: 3px red solid; */
}

.main-section-text-container {
    width: 30%;
    /* height:40vh; */
    padding-left: 100px;
    text-align: left;
    flex-shrink: 1;

    display: felx;
    flex-direction: column;
    align-items: flex-end;
    /* border: 3px red solid; */
}

.main-section-heading {
    font-size: 48px;
    flex-shrink: 1;
}

.main-section-paragraph {
    font-size: 24px;
    flex-shrink: 1;

}

.main-section-button {
    background-color: #007c89;
    color: white;
    height: 6vh;
    width: 25%;
    border-width: 0px;

}

.main-section-image-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;

    /* border: 3px red solid; */
}

.main-section-image {
    height: 40vh;
    /* border:7px green solid; */
}

/*feature container */
.features-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border:3px red solid; */
}

.features-container-heading-container {
    text-align: center;
    font-size: 24px;
    
}

.feature-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    /* border:3px blue solid; */
}

.feature-image-container {
    width: 50%;
    flex-shrink: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* margin-right:100px; */
    /* border:3px green solid; */
    /* padding-right:100px; */
    flex-shrink: 1;

}

.feature-image {
    height: 35vh;
    margin-right: 100px;
}

.feature-text-container {
    width: 50%;
    flex-shrink: 1;
    padding-right: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-shrink: 1;
    /* border:3px red solid; */

}

.feature-heading {
    font-size: 28px;
    margin-left: 20px
}

.feature-paragraph {
    font-size: 20px;
    margin-left: 20px
}

.feature-button {
    background-color: white;
    /* border: 2px #007c89 solid; */
    height: 50px;
    width:100px;
    color:#007c89;
    border:2px #007c89 solid;
    margin-left: 20px
}

.growth-container {
    background-color: #f6f6f4;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.growth-partners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.growth-partner-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.growth-parner-logo {
    width: 60%;
}

.growth-partner-info {}

/* facility section */

.facilities-section-container {
    width: 100%;
    background-color: #fbeeca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facilities-taglines-container {
    width: 30%;
    text-align: center;
    font-size: 32px;
    /* padding:20px 250px 20px 250px; */
    /* color:red; */
    /* border:3px red solid; */
}

.facility-cards-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    line-height: 1.5;

}

.facility-card {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facility-card-image {
    height: 130px;

}

.facility-card-heading {
    font-size: 18px;
}

.facility-card-description {

    font-size: 14px;
}

.facility-card-link {
    font-size: 14px;
    color: #007c89
}

.services-Section {
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;



}

.services-section-heading-container {
    /* padding:10px 150px 10px 150px; */
    text-align: center;
    padding: 50px;
}

.services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.service-card {
    width: 60%;
    display: flex;
    justify-items: space-around;

}

.service-details-container {
    width: 50%;
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:20px; */
    /* padding-left:100px; */
    /* padding-left: 350px; */
    text-align: left;
    /* border:3px red solid; */

}

.service-details-text{
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.services-button {
    height: 40px;
    background-color: white;
    /* border: 2px #007c89 solid; */
    padding: 8px;
    color: #007c89;
}

.service-image-conatainer {
    width: 50%;
    display: felx;
    flex-direction: column;
    align-self: center;
    padding-left: 100px;
    /* border:3px blue solid; */
    flex: 1;
}

.service-image {
    height: 40vh;
}

.testimonial-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:3px red solid; */
    margin-top:40px;
    margin-bottom:40px;

}

.testimonia-details-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* border:3px blue solid; */
}

.testimony {
    font-size: 32px;
    /* padding-left:20px; */
}

.testimony-author {
    font-size: 16px;
    padding-left: 20px;
}

.testimonial-denver-logo {}

.testimonial-person-image-conatainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border:3px blue solid; */

}

.person-image {
    width: 60%;
}

/* choose a plan setion */

.choosing-plan-section {
    width: 100%;
    background-color: #ffe01b;
    text-align: center;
    /* padding: 30px; */
    padding-top:30px;
    padding-bottom:30px;
    line-height: 1.5;;

}

.pick-plan-button {
    background-color: #007c89;
    color: white;
    height: 40px;
    width: 120px;
    border: 0px;
    
    
}

.footer-section {
    width: 100%;
    background-color: #efeeea;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer1 {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer1-heading {
    font-size: 12px;
}

.footer1-ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.footer1-li {
    list-style-type: none;
    margin-right: 20px;
}

.footer2 {
    width: 50%;
    display: flex;
    justify-content: center;
    /* width:50%; */
    /* align-self: center; */
    /* float:center; */
    /* border:3px blue solid; */
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    /* border:3px red solid; */

}

.links-container-heading {
    font-weight: bold;
}

.footer2 ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    line-height: 2;
    /* border: 3px green solid; */
    padding: 10px;
}

.footer2 li {
    list-style-type: none;
    font-size: 10px;
    align-self: stretch;

}

.links-container-image {
    height: 40px;
    width: 180px;
    margin: 0px;
    padding: 0px;
    /* border:3px red solid; */
}

/* .media-links-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:10px;
} */
.media-conatiner {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1;; */
    margin-bottom: 20px;
    font-size: 10px;
    /* border: 3px green solid; */
}

.footer3 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: center;
    /* border:3px red solid; */
}

.sm-icons-container {
    display: flex;
    
}

.sm-icon-image {
    margin: 10px;
}

.copyright-container {
    display: flex;
    flex-direction: column;
}

.footer-button {
    height: 40px;
    width: 100px;
}

.copyright-text {
    font-size: 8px;
    /* border:3px green solid; */
}


@media screen and (max-width: 500px) {

    * {
        box-sizing: border-box;
        /* overflow-x: hidden; */
        padding:0px;
        margin:0px;
    }

    .bg-container {
        /* height:100vh; */
        width: 100%;
        /* overflow-y: hidden; */
        /* border: 3px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .header-container {
        display: none;
    }

    .mobile-header{
        /* border:2px red solid; */
        width:100%;
        display:flex;
        /* flex-direction: row; */
        justify-content: space-between;
        /* align-items: center; */
    }

    .hamburger-image {

        height: 15px;
        width: 20px;
        /* margin: 10px; */
        margin-top:20px;
        /* border:2px green solid; */


    }

  
    nav {
        width:100%;
        background-color: #ffe01b;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        /* border:2px green solid; */

        
    }

    nav ul li a:hover {
        color: green;
        font-weight: bold;

    }

    input[type="checkbox"] {
        display: none;
    }

    nav ul {
        list-style: none;
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: white;
        height: 40%;
        width: 70%;
        transition: 0.3s;
        text-align: center;
    }

    #hambugerMenu:checked~ul {
        left: 13%;
    }

    nav ul li {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    nav ul li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        width: 100%;
        margin-left: -100%;
        transition: 0.3s;
    }

    #hambugerMenu:checked~ul li a {
        margin-left: 0px;
    }

    .mobile-logo{
        height:50px;
        width:100px;
        /* border:3px red solid; */
        
    }

    .mobile-header-login-button{
        background-color: #ffe01b;
        
        border-width:0px;
        margin-top:20px;
    }

    /* .signup-button {
        height: 5vh;
        width: 40%;
        color: white;
        background-color: #007c89;
    
    }
     */
    .signup-text{
        
        color: white;
        text-decoration: none;
    }
    
    

    .mobile-view-hr{
        width:80%;
        align-self: center;
    }
    /* main section */

    .main-section {
        width: 100%;
        background-color: #ffe01b;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* height: 50vh; */
        /* width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap; */

        /* border: 3px green solid; */
    }

    .main-section-text-container {
        width: 100%;
        height:40vh;
        padding:0px;
        padding:20px;

        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        
        
        /* border: 3px red solid; */
    }

    .main-section-heading {
        font-size: 32px;
        flex-shrink: 1;
    }

    .main-section-paragraph {
        font-size: 18px;
        flex-shrink: 1;

    }

    .main-section-button {
        background-color: #007c89;
        color: white;
        height: 5vh;
        width: 100px;
        border-width: 0px;
        cursor: pointer;

    }

    .main-section-image-container {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding:10px;
        
        /* border: 3px red solid; */
    }

    .main-section-image {

        height: 30vh;
        margin-bottom:20px;
        
        /* border:7px green solid; */
    }

    .features-container {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        /* border:3px red solid; */
    }
    
    .features-container-heading-container {
        text-align: center;
        font-size: 18px;
        padding:25px;
    }
    
    .feature-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        /* border:3px blue solid; */
    }
    
    .feature-image-container {
        width: 100%;
        
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* align-items: center;
        padding:0px;
         */
        /* border:3px yellow solid; */
        
    
    }
    
    .feature-image {
        height: 40vh;
        width: 100%;
        margin-left:100px;
        /* border:3px red solid; */
    }
    
    .feature-text-container {
        width: 100%;
        height:40vh;
        padding:0px;
        flex-shrink: 1;
        padding-right: 100px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-shrink: 1;
        /* border:3px green solid; */
    
    }
    
    .feature-heading {
        font-size: 22px;
        margin-left: 20px
    }
    
    .feature-paragraph {
        font-size: 13px;
        margin-left: 20px
    }
    
    .feature-button {
        background-color: white;
        border: 2px #007c89 solid;
        height: 30px;
        padding:5px;
        /* width:100px; */
        color:#007c89;
    }

    .growth-container {
        background-color: #f6f6f4;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .growth-container-heading{
        font-size:42px;
        padding:50px;
    }

    .growth-container-paragraph{
        font-size:22px;
        padding:50px;
    }
    
    .growth-partners-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    
    }
    
    .growth-partner-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border:3px black solid; */
    
    }
    
    .growth-parner-logo {
        /* width: 60%; */
    }
    
    .growth-partner-info {

    }
    
    /* facility section */
    
    .facilities-section-container {
        width: 100%;
        background-color: #fbeeca;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .facilities-taglines-container {
        width: 80%;
        margin-top:50px;
        margin-bottom:50px;
        text-align: center;
        font-size: 32px;
        /* padding:20px 250px 20px 250px; */
        /* color:red; */
        /* border:3px red solid; */
    }
    
    .facility-cards-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        line-height: 1.5;
    
    }
    
    .facility-card {
        height:40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        /* border:3px yellow solid; */
        /* margin-top: 10px;
        margin-bottom: 10px; */
    }
    
    .facility-card-image {
        width:80%;
        height: 150px;
        /* border:3px yellow solid; */
        align-self: center;
    
    }
    
    .facility-card-heading {
        font-size: 18px;
    }
    
    .facility-card-description {
    
        font-size: 14px;
    }
    
    .facility-card-link {
        font-size: 14px;
        color: #007c89
    }
    .services-Section {
        width: 100%;
        background-color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        /* border:5px red solid; */
    
    
    
    }
    
    .services-section-heading-container {
        /* padding:10px 150px 10px 150px; */
        height:30vh;
        width:100%;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-self:center;
        /* padding: 50px; */
        /* border:3px black solid; */
    }
    
    .services-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    
    }
    
    .service-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: center;
        
    
    }
    
    .service-details-container {
        width: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        text-align: left;
        /* border:3px red solid; */
    
    }
    
    .service-details-text{
        height:30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        /* border:3px yellow solid; */
    }
    
    .service-details-container h1{
        font-size:20px;
    }
    
    .services-button {
        height: 50px;
        width:150px;
        background-color: white;
        
        /* border: 2px #007c89 solid; */
        /* padding: 8px; */
        color: #007c89;
        border-color: 1px #007c89 solid;
    }
    
    .service-image-conatainer {
        order:-1;
        /* height:100vh; */
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
        /* border:3px blue solid; */
        flex: 1;
    }
    
    .service-image {
        height: 40vh;
        width:100%;
        margin-right:100px;
        flex-shrink: 1;
        /* border:3px red solid; */
    }
    
    .testimonial-section {
        padding-top:30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border:3px red solid;
     */
    }
    
    .testimonia-details-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-direction: space-around;
        align-items: flex-start;
    
        /* border:3px blue solid; */
    }
    
    .testimony {
        font-size: 22px;
        margin-bottom:20px;
        /* padding-left:20px; */
    }
    
    .testimony-author {
        font-size: 14px;
        margin-bottom:30px;
    }
    
    .testimonial-denver-logo {}
    
    .testimonial-person-image-conatainer {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order:-1;
    
        /* border:3px blue solid; */
    
    }
    
    .person-image {
        width: 100%;
    }
    
    /* choose a plan setion */
    
    .choosing-plan-section {
        width: 100%;
        height:30vh;
        padding:20px;
        background-color: #ffe01b;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    
    .choosing-plan-section{
        font-size: 18px;
    }
    
    .pick-plan-button {
        background-color: #007c89;
        color: white;
        height: 40px;
        width: 120px;
        border: 0px;
    }
    
    .footer-section {
        width: 100%;
        background-color: #efeeea;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .footer1 {
        width: 100%;
        padding:40px;
        height:30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 20px;
        /* border:3px red solid; */
    }
    
    .footer1-heading {
        font-size: 12px;
    }
    
    .footer1-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 12px;
    }
    
    .footer1-li {
        list-style-type: none;
        margin-bottom: 10px;
        margin-top:10px;
    }
    
    .footer2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width:50%; */
        /* align-self: center; */
        /* float:center; */
        /* border:3px blue solid; */
    }
    
    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left:20px;
        margin-top:30px;
        /* border:3px red solid; */
    
    }
    
    .links-container-heading {
        font-weight: bold;
    }
    
    .footer2 ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 2;
        /* border: 3px green solid; */
        
    }
    
    .footer2 li {
        list-style-type: none;
        font-size: 10px;
        align-self: stretch;
    
    }
    
    .links-container-image {
        height: 40px;
        width: 180px;
        margin: 0px;
        padding: 0px;
        /* border:3px red solid; */
    }
    
    .media-conatiner {
        width:60%;
        
        margin-bottom: 20px;
        font-size: 10px;
        /* border: 3px green solid; */
    }
    
    .footer3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        float: center;
        /* border:3px red solid; */
        flex-wrap:wrap;
    }
    .store-container{
        width:40%;
        padding-left:10px;
    }
    .sm-icons-container {
        width:90%;
        align-self: center;
        padding-left:30px;
        /* border:3px red solid; */
        margin:10px;
    }
    
    .sm-icon-image {
        margin: 10px;
    }
    
    .copyright {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border:3px red solid; */
    }
    
    .footer-button {
        height: 40px;
        width: 100px;margin:10px;
    
    }
    
    .copyright-text {
        font-size: 8px;
        /* border:3px green solid; */
    }
    
    

}