.signup-page-bg-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 3px red solid;*/
    padding: 0px;
    margin: 0px;
    line-height: 1;
}

.signup-header {
    /* height: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    background-color: #ffe01b;
}

.logo {
    height: 50px;
    width: 100px;
    flex-shrink: 1;

}

.signup-heading {
    margin: 0px;
    padding: 0px;
    flex-shrink: 1;

}

.create-account-heading {
    margin: 0px;
    padding: 0px;
    flex-shrink: 1;
}

.signup-form {
    width: 50%;
    background-color: white;
    border: 10px #ffe01b solid;
    margin-left: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

.input-container {
    height: 10vh;
    margin: 5px;
    margin-left: 10px;
    /* align-self: flex-start; */
}

.reenter-password-container{
    height: 13vh;
    margin: 5px;
    margin-left: 10px;
    
}

.tos-container {
    height: 10vh;
    margin-top: 10px;
    margin-left: 10px;
}

.submit-container {
    height: 10vh;
    margin-left: 10px;
}

.form-label {
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 30px;
    /* font-weight:bold; */
    line-height: 1.5;

}

.break {
    line-height: 22px;
}

.form-input {
    height: 30px;
    width: 250px;
}

.error-message {
    color: red;
    font-size: 14px;
}

.form-submit-button {
    background-color: #007c89;
    color: white;
    height: 40px;
    width: 100px;
    border-width: 0px;
    margin-left: 5px;

}

.congrats-message {
    color: green;
    font-size: 12px;
}

.redirection-link{
    color:blue;
    font-size:20px;
}


@media screen and (max-width: 500px) {

    .signup-page-bg-container {
        width: 100%;
        
        padding: 0px;
        margin: 0px;
        line-height: 1;
    }

    .signup-header {
        height: 14%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin: 0px;
        line-height: 1.2;
        background-color: #ffe01b;
    }

    .logo {
        height: 40px;
        width: 100px;
        flex-shrink: 1;

    }

    .signup-heading {
        margin: 0px;
        padding: 0px;
        flex-shrink: 1;
        font-size: 32px;

    }

    .create-account-heading {
        margin: 0px;
        padding: 0px;
        flex-shrink: 1;
    }

    .signup-form {
        width: 100%;
        background-color: white;
        border: 6px #ffe01b solid;
        margin:0px;
        padding:0px;
        
    }

    

    .input-container {
        height: 120px;
        margin: 1px;
        /* border: 3px green solid; */
        
    }

    .reenter-password-container{
        height: 130px;
        margin: 1px;
        
    }

    .tos-container {
        height: 80px;
        margin-top: 5px;
    }

    .submit-container {
        height: 120px;
    }

    .form-label {
        font-size: 20px;
        font-family: "Roboto";
        margin-bottom: 30px;
        /* font-weight:bold; */
        line-height: 1.5;

    }

    .break {
        line-height: 12px;
    }

    .form-input {
        height: 25px;
        width: 250px;
        margin-bottom:0px;
    }


    .error-message {
        color: red;
        font-size: 14px;

    }

    .form-submit-button {
        background-color: #007c89;
        color: white;
        height: 40px;
        width: 100px;
        border-width: 0px;
        margin-left: 5px;
    
    }

    .congrats-message {
        color: green;
        font-size: 10px;
    }

    .redirection-link{
        color:blue;
        font-size:20px;
    }

}